@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div style="margin-top:15px;" class="row">
        <div class="col-8">
    <img src="~/images/book2.jpg" alt="Book" width="100%" height="480" class="rounded my-20" />
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="mb-0">“A room without books is like a body without a soul.”</p>

            </blockquote>
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Cicero</cite>
            </figcaption>
        </figure>
        </div>
        <div class="col-4" style="padding-top:100px">
            <pre class="text-primary text-bold" style="font-size:28px;">  Good Book Makes you 
       <span class="text-success">Better</span> Human.
 
 Wanna be a Better Human!
 Order Your Book <a asp-controller="Category" asp-action="index" class="btn btn-success">NOW:)</a>
   </pre>

       
        </div>
    </div>
</div>